.date-warp {
    height: 47px;
    margin: 40px 0 70px 0;
    position: relative;
    z-index: 9;
}
body, p, div {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}
div {
    display: block;
}
.date-warp .hs-item {
    height: 47px;
    position: relative;
    float: left;
}