.hotel-main  {
	position: relative;
	z-index: 5;
	width: 1000px;
	margin: 0 auto;
	padding-top: 60px;
}

.datatime {
	float: left;
	font-size: 19px;
}

#peopleNum {
	width: 85px;
	height: 33px;
	text-align: center;
	font-size: 16px;
}


.flt1 img{
	float: left;
}

.m_l_10 {
	margin-left: 10px
}

img {
	vertical-align: middle
}

html {
	font-family: Arial, 'Microsoft Yahei';
	font-size: 12px;
	color: #666;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

dl,
dt,
dd {
	margin: 0
}

a {
	color: #ff9d00;
}

input{
	border-radius:5px 5px 5px 5px;
	font: inherit;
	outline: none;
	border: 1px solid #ffa800;


}

select{
	outline: none;
	border: 1px solid #ffa800;

}

.highlight {
	color: #ff9d00 !important
}

a:hover {
	color: #ff8a00;
	text-decoration: underline
}
a {
	color: #ff9d00;
	text-decoration: none;
	cursor: pointer
}

.clearfix:after {
	content: '';
	clear: both;
	height: 0;
	display: block;
	overflow: hidden;
}

.youji_bot{
 text-align: right;
}
.youji_bot ul{
 list-style: none;
}
.youji_bot ul li{
 display: inline-block;
 margin-left: 5px;
 
 border-radius: 3px;
}
.num{
 width: 20px;
 text-align: center;
}
.num:hover{
 background-color: #EEEEEE;
 
}
.youji_bot ul li a:hover{
 color: #000000;
}
.upd{
 background-color: #FF8C00;
 color: #FFFFFF;
}
.upd:hover{
 cursor: pointer;
}

.hd-title{
	width: 1000px;
	margin: 0 auto
}
.hd-title ul{
	
	list-style: none;
	font-size: 20px;
}
.hd-title ul li{
	float: left;
}

.hd-title a{
	color: #111111;
	text-decoration: none;
}

#guanggao{
	margin-top: 20px;
	width: 1000px;
	height: 130px;
}

.hotel-infomation{
	padding: 20px 0px 40px 0px;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
	line-height: 24px;
	
}
.info-section dl{
	margin-left: 155px;
	
}

.info-section dt{
	float: left;
	display: inline-block;
	font-size: 16px;
	
}
.info-section dd{
	display: block;
	-webkit-margin-start: 40px;
}

.cell{
	display: inline-block;
	float: left;
	letter-spacing: .5px;
}
.hotelss{
	padding: 20px 0px 0px 0px;
}

.hotel-s{
	border-bottom: 1px dashed #C2C2C2;
}
.hotel-ss{
	border-bottom: 1px solid #C2C2C2;
}
.hotel-friend{
	margin-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #C2C2C2;
}
.gonglue{
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 80px;
	padding-top: 20px;
}

.top-info p{
	display: inline-block;
}

.talk{
	list-style: none;
	display: inline-block;
	line-height: 30px;
}

.search-hotel{
	border-bottom: 1px solid #D7D7D7;
	margin-top: 30px;
}
.total-hotel{
	font-size: 15px;
	padding-bottom: 10px;
}
#total-text{
	color: #FF8A00;
}

.move{
	display: inline-block;
	height: 20px;
	width: 190px;
}

.page-hotel{
	display: block;
	padding: 20px 5px;
	line-height: 24px;
	text-align: right;
	font-size: 12px;
	color: #999;
}
