.kind{
	margin-bottom: 20px;
	padding: 7px 0;
	border: 1px solid #d7d7d7;
	height: 85px;
	border-radius:5px 5px 5px 5px;
	width: 940px;
}

#kind1 #min{
	text-align: center;
	margin-left:30px;
	width: 80px;
	margin-top: 25px;
}
#kind1 #max{
	margin-left:5px;
	text-align: center;
	width: 80px;
	
}
#kind2{
	border-left:1px solid #D7D7D7;
	height: 70px;
	margin-top: -45px;
	margin-left: 290px;
}
#kind2 p{
	margin-left: 43px;
}

#kind2 #leve{
	margin-left: 30px;
	width: 70px;
}

#kind3{
	border-left:1px solid #D7D7D7;
	height: 70px;
	margin-top: -70px;
	margin-left: 450px;
}

#kind3 #mold{
	margin-left: 30px;
	width: 80px;
}

#kind3 p{
	margin-left: 45px;
}

#kind4{
	border-left:1px solid #D7D7D7;
	height: 70px;
	margin-top: -70px;
	margin-left: 600px;
}

#kind4 p{
	margin-left: 55px;
}

#kind4 #facility{
	margin-left: 30px;
	width: 80px;
}

#kind5{
	border-left:1px solid #D7D7D7;
	height: 70px;
	margin-top: -70px;
	margin-left: 750px;
}

#kind5 p{
	margin-left: 80px;
}

#kind5 #brand{
	margin-left: 50px;
	width: 80px;
}
