* {
    padding: 0px;
    margin: 0px;
}

#d1 {
    /* height: 720px;
    width: 1535px;
    background-image: url(../img/17.jpg); */
    height: 550px;
    width: 480px;
    background-color: #FFFFFF;
    /* text-align: center; */
    position: absolute;
    top: 50%;
    left: 45%;
    margin: -185px 0 0 -200px;
    border-radius: 5px;

}

#input3 {
    margin: 30px;
}

#input1 {
    width: 300px;
    height: 35px;
    border-radius: 5px;
    margin: 10px 0px 0px 30px;
    display: inline-block;
    border: #ABABAB 1px solid;

}

#input12 {
    width: 300px;
    height: 35px;
    border-radius: 5px;
    margin: 10px 0px 0px 30px;
    display: inline-block;
    border: #ABABAB 1px solid;

}

#input7 {
    width: 300px;
    height: 35px;
    border-radius: 5px;
    margin: 10px 0px 0px 30px;
    display: inline-block;
    border: #ABABAB 1px solid;
}

#input8 {
    width: 300px;
    height: 35px;
    border-radius: 5px;
    margin: 10px 0px 0px 30px;
    display: inline-block;
    border: #ABABAB 1px solid;
}

#input9 {
    width: 300px;
    height: 35px;
    border-radius: 5px;
    margin: 10px 0px 0px 30px;
    display: inline-block;
    border: #ABABAB 1px solid;
}

#input10 {
    width: 300px;
    height: 35px;
    border-radius: 5px;
    margin: 10px 0px 0px 30px;
    display: inline-block;
    border: #ABABAB 1px solid;
}

#d2 {
    width: 305px;
    height: 45px;
    margin: 20px 0px 0px 30px;
    display: inline-block;
    background-color: gold;
    border-radius: 5px;
}


#input2 {
    background: gold;
    border: none;
    color: #FFFFFF;
    font-size: 25px;
    margin: 5px 0px 0px 100px;
    cursor: pointer;

}


#span1 {
    margin-left: 145px;
    font-size: 13px;
    color: #ABABAB;
}

#span2 {
    font-size: 13px;
}


#d3 {
    margin-left: 5px;
    height: 30px;
    width: 350px;
    border-bottom: #D7D7D7 1px solid;
}

#bo {
    margin: 30px;
    font-size: 40px;
}


#d4 {
    margin-top: 20px;
    float: right;
    width: 240px;
    height: 310px;

    border-left: #D7D7D7 1px solid;
}

#d5 {
    width: 500px;
    float: left;
}

#get_code {
    height: 30px;
    width: 120px;
    border-radius: 5px;
    border: #ABABAB 1px solid;
}

#get_code :hover {
    cursor: help;
}
